.app-wrapper {
  background: url(assets/images/land.jpg);
  height: fit-content;
  object-fit: cover;
  background-size: cover;
  min-height: 100%;
  padding: 16px 16px 16px 130px;
  font-family: Montserrat, sans-serif;
  position: static;
}

.app-wrapper-height {
  height: 100%;
}

#root {
  height: 100%;
}